{% extends 'base.html.twig' %}


{% block body %}

    <div class="row banner">
        <div class="col-8 offset-2  d-flex">
            <div class="search-box align-self-center w-100">

                <form method="post">
                    <div class="form-group">
                        <label for="search"></label>
                        <input type="text" name="search" placeholder="Que recherchez vous ?"
                               class="form-control search rounded-left">

                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
