@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  margin: 1rem;
}

.banner {
  height: 400px;
  background: url("image/dechetterie.jpeg") fixed bottom;
  background-size: cover;
}

//.container-fluid{
//  margin:0;padding:0;
//}

.search-box {

  .search {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 40px !important;
    color:white;

    &:focus {
      background-color: rgba(0, 0, 0, 0.6);;
    }

  }
}

