{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification de la category</h1>
        <div class="text-right m-3">
            {{ include('admin/category/_delete_form.html.twig') }}
        </div>
        <div class="">
            {{ include('admin/category/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
        <div class="text-left">
            <a class="btn btn-info ml-4" href="{{ path('category_index') }}"><i class="fas fa-angle-double-left mr-1"></i>
                Retour à la liste</a>
        </div>
    </div>
{% endblock %}