{% extends 'base.html.twig' %}

{% block title %}New Ad{% endblock %}

{% block body %}
    <div class="container">
    <h1>Création d'une nouvelle annonce</h1>

    {{ include('ad/_form.html.twig') }}

        <a class="btn btn-info" href="{{ path('ad_index') }}">Retour à la liste</a>
    </div>
{% endblock %}